@font-face {
  font-family: 'BeaufortBold';
  src: url('fonts/BeaufortforLOL-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'BeaufortMedium';
    src: url('fonts/BeaufortforLOL-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spiegel';
    src: url(fonts/Spiegel-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(225deg, rgba(0,0,30,0) 30%, rgba(0,0,30,0.9) 80%), url("images/ashe-default-splash.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 70%;
    max-height: 500px;
    padding: 0px;
}


.header-title-text {
    margin-right: auto;
    margin-left: 4vw;
    align-self: center;
    color:rgb(200, 170, 110);
    font-family: 'BeaufortBold';
    text-transform: uppercase;
    font-size: 40px;
}

.header-title-text span {
    color: white;
    font-size: 60px;
}

.header-ult-info {
    height: 60%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    color: white;
    margin-left: 4vw;
    color: #f0e6d2;
}

.header-ult-info h2 {
    font-family: 'BeaufortBold';
    text-transform: uppercase;
    font-size: 20px;

}

.header-ult-info img {  
    margin-right: auto;
    margin-left: 2vw;
    height: 50px;
}

.header-ult-info-text {
    margin-right: 30%;
    font-family: 'Spiegel';
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.header-ult-info-text b {
    color:cornflowerblue;
}

.theme-images {
    display: flex;
    justify-content:flex-end;
    gap: 20px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.theme-images input {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    object-fit: cover;
    transition: all 0.3s;
}

.theme-images input:hover {
    transform: scale(1.2);
}

h1 {
    color:rgb(200, 170, 110);
    font-family: 'BeaufortBold';
    text-align:center;
    padding: 10px;
    cursor: default;
    text-align: left;
}

html, body {
    /* Remove all padding and margins */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 2400px;
    max-height: 1200px;
}
