@font-face {
  font-family: 'BeaufortBold';
  src: url('fonts/BeaufortforLOL-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'BeaufortMedium';
    src: url('fonts/BeaufortforLOL-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.header-container {
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 4fr;
    background: linear-gradient(225deg, rgba(0,0,0,0) 30%, rgba(0,0,0,0.9) 80%), url("images/ashe-default-splash.jpg");
    background-size: cover;
    position: relative;
    width: 100%;
    height: 70%;
    max-height: 500px;
    padding: 0px;
}

.header-title-text {
    margin-right: auto;
    margin-left: 4vw;
    align-self: center;
    color:rgb(200, 170, 110);
    font-family: 'BeaufortBold';
    text-transform: uppercase;
    font-size: 4vw;
}

.header-ult-info {
    height: 60%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    color: white;
    margin-left: 4vw;
}

.header-ult-info h2 {
    font-family: 'BeaufortBold';
    text-transform: uppercase;
    font-size: 2vw;

}

.header-ult-info img {  
    margin-right: auto;
    margin-left: 2vw;
    height: 5vw;
    object-fit: cover;
}

.header-ult-info-text {
    margin-right: 30%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    font-size: 1.2vw
}

.header-ult-info-text b {
    color:cornflowerblue;
}

.theme-images {
    display: flex;
    overflow: hidden;
    padding: 20px;
    height: 100px;
    width: 100px;
}

.theme-images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s;
}

.theme-images img:hover {
    transform: scale(1.2);
}

.main-container {
    display: grid;
    background-color: rgb(0,0,30);
    grid-template-columns: 1fr 1fr;
}

h1 {
    color:rgb(200, 170, 110);
    font-family: 'BeaufortBold';
    text-align:center;
    padding: 10px;
    cursor: default;
    text-align: left;
}

html, body {
    /* Remove all padding and margins */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 2400px;
    max-height: 1200px;
}
